strict-peer-dependencies=false # allow peer dependencies to be installed
auto-install-peers=true # allow peer dependencies to be installed
resolution-mode=highest # allow peer dependencies to be installed
